Name = {{ tinc_name }}
AddressFamily = ipv4
Interface = {{ vpn_interface }}
{% for host in play_hosts %}
{% if tinc_name != hostvars[host]['tinc_name'] and tinc_name == 'home' %}
ConnectTo = {{ hostvars[host]['tinc_name'] }}
{% endif %}
{% endfor %}